<div class="jumbotron">
  <div align="center">
    <img class='img-circle' src='https://github.com/sedelacerda.png?size=200' />
  </div>
  <br/>
  <h2 align="center">Sebastián de la Cerda Molina</h2>
  <p align="center">
    Estudiante Ingeniería Civil Industrial en Tecnologías de la Información
  <br/>
    Pontificia Universidad Católica</p>
  <br/>
  <p align="right">
    <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Ver más &raquo;</a>
  </p>
</div>
