<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hola <%= @user_name %>:</h3>
    <p>
      He recibido tu contacto que realizaste a través de mi sitio web. Te contactaré a la brevedad en caso de que lo requieras.
    </p>
    <p>
      Saludos!
    </p>
    <br/>
    <p>
      <strong>Sebastián de la Cerda M.</strong><br/>
      Ingeniero Civil en Tecnologías de la Información<br/>
      +569 95333605
    </p>
  </body>
</html>
